NEXT_PUBLIC_API_URL = https://localhost:5000/api/v1

# For cloudinary assets upload
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET = cloudinary_upload_preset
NEXT_PUBLIC_CLOUDINARY_CLOUDNAME = your-cloudinary-cloudname