@tailwind base;
@tailwind components;
@tailwind utilities;

@import './blogEditor';

@layer base {
  :root {
    --gradient: #00416a;
    --background: 216 100% 98.42%;
    --foreground: 216 10% 0.84%;

    --muted: 216 10% 92.1%;
    --muted-foreground: 216 5% 42.1%;

    --popover: 216 10% 92.1%;
    --popover-foreground: 216 10% 1.05%;

    --card: 216 10% 92.1%;
    --card-foreground: 216 10% 1.05%;

    --border: 216 15% 89.84%;
    --input: 216 15% 89.84%;

    --primary: 216 100% 21%;
    --primary-foreground: 216 2% 92.1%;

    --secondary: 216 5% 96.05%;
    --secondary-foreground: 216 7% 12.1%;

    --accent: 216 5% 96.05%;
    --accent-foreground: 216 7% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 216 100% 21%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 207 58.5% 2.16%;
    --foreground: 207 9% 96.35%;

    --muted: 207 45% 8.100000000000001%;
    --muted-foreground: 207 9% 52.7%;

    --popover: 207 47% 3.5100000000000002%;
    --popover-foreground: 207 9% 96.35%;

    --card: 207 47% 3.5100000000000002%;
    --card-foreground: 207 9% 96.35%;

    --border: 207 45% 8.100000000000001%;
    --input: 207 45% 8.100000000000001%;

    --primary: 207 90% 27%;
    --primary-foreground: 207 9% 96.35%;

    --secondary: 207 45% 8.100000000000001%;
    --secondary-foreground: 207 9% 96.35%;

    --accent: 207 45% 8.100000000000001%;
    --accent-foreground: 207 9% 96.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 207 9% 96.35%;

    --ring: 207 90% 27%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .card-container {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 justify-evenly;
  }

  .star-rating {
    .dv-star-rating-empty-star {
      color: var(--foreground) !important;
    }
  }
}
